In [221]:
import time
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm

from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler # 표준화(평균을 기준)
from sklearn.preprocessing import MinMaxScaler # 정규화(정해진 규칙 기준, mix-max기준)
from sklearn.datasets import load_iris
# cross_val_score: 다양한 샘플링으 ㄹ해서 여러번 테스트 --> 평균치를 구해본다.!
from sklearn.metrics import *
%matplotlib inline

# 주요 라이브러리 import

from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier

In [258]:
df = pd.read_csv('/content/2020_전처리완료.csv', encoding='utf-8')
df

,Unnamed: 0,year,target_area,no_of_place,sleepnights,accommodation,number_of_ppl,number_of_children,cost_total_trip,cost_total_per_person,satisfied,sex,age,month,living_area,target_beforesplit,transportation,reason,relationship
0,1,2020.0,"23310,23310",2,1,3,2.0,0.0,439000.0,219500.0,4.0,1.0,28.0,1.0,1.0,"1,2,6",1,"9,5,14",3
1,2,2020.0,31160,1,0,NaN,4.0,0.0,70002.0,23334.0,4.0,1.0,57.0,2.0,1.0,"1,6",1,"2,4,11",3
2,3,2020.0,31110,1,0,NaN,3.0,0.0,74500.0,26500.0,4.0,2.0,19.0,2.0,1.0,5,"5,2","12,5,9",3
3,4,2020.0,"23080,31270",2,"0,0",NaN,2.0,0.0,100000.0,50000.0,4.0,2.0,36.0,2.0,1.0,"1,2,6",1,"9,5,1",3
4,5,2020.0,"32400,32390",2,1,11,4.0,0.0,400000.0,100000.0,4.0,1.0,26.0,2.0,1.0,"1,2,6",1,"12,6,5",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11939,15406,2020.0,"39010,39010",2,"0,0",NaN,3.0,0.0,40000.0,40000.0,3.0,2.0,46.0,3.0,17.0,"1,2",1,11,3
11940,15409,2020.0,39010,1,0,NaN,1.0,NaN,10000.0,10000.0,3.0,1.0,41.0,9.0,17.0,1,1,15,NaN
11941,15410,2020.0,"39010,39010",2,1,3,12.0,6.0,260008.0,23334.0,4.0,2.0,31.0,9.0,17.0,6,"1,2",1,3
11942,15412,2020.0,"39010,39010",2,"0,0",NaN,7.0,3.0,190007.0,28751.0,4.0,2.0,37.0,10.0,17.0,"1,12",1,"2,10",1
11943,15415,2020.0,39010,1,1,3,2.0,0.0,80000.0,80000.0,4.0,2.0,56.0,11.0,17.0,"1,2,6",1,"2,1,5",1

In [259]:
df.drop(columns='Unnamed: 0', inplace=True)
df

,year,target_area,no_of_place,sleepnights,accommodation,number_of_ppl,number_of_children,cost_total_trip,cost_total_per_person,satisfied,sex,age,month,living_area,target_beforesplit,transportation,reason,relationship
0,2020.0,"23310,23310",2,1,3,2.0,0.0,439000.0,219500.0,4.0,1.0,28.0,1.0,1.0,"1,2,6",1,"9,5,14",3
1,2020.0,31160,1,0,NaN,4.0,0.0,70002.0,23334.0,4.0,1.0,57.0,2.0,1.0,"1,6",1,"2,4,11",3
2,2020.0,31110,1,0,NaN,3.0,0.0,74500.0,26500.0,4.0,2.0,19.0,2.0,1.0,5,"5,2","12,5,9",3
3,2020.0,"23080,31270",2,"0,0",NaN,2.0,0.0,100000.0,50000.0,4.0,2.0,36.0,2.0,1.0,"1,2,6",1,"9,5,1",3
4,2020.0,"32400,32390",2,1,11,4.0,0.0,400000.0,100000.0,4.0,1.0,26.0,2.0,1.0,"1,2,6",1,"12,6,5",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11939,2020.0,"39010,39010",2,"0,0",NaN,3.0,0.0,40000.0,40000.0,3.0,2.0,46.0,3.0,17.0,"1,2",1,11,3
11940,2020.0,39010,1,0,NaN,1.0,NaN,10000.0,10000.0,3.0,1.0,41.0,9.0,17.0,1,1,15,NaN
11941,2020.0,"39010,39010",2,1,3,12.0,6.0,260008.0,23334.0,4.0,2.0,31.0,9.0,17.0,6,"1,2",1,3
11942,2020.0,"39010,39010",2,"0,0",NaN,7.0,3.0,190007.0,28751.0,4.0,2.0,37.0,10.0,17.0,"1,12",1,"2,10",1
11943,2020.0,39010,1,1,3,2.0,0.0,80000.0,80000.0,4.0,2.0,56.0,11.0,17.0,"1,2,6",1,"2,1,5",1

In [260]:
df.reindex()
df

,year,target_area,no_of_place,sleepnights,accommodation,number_of_ppl,number_of_children,cost_total_trip,cost_total_per_person,satisfied,sex,age,month,living_area,target_beforesplit,transportation,reason,relationship
0,2020.0,"23310,23310",2,1,3,2.0,0.0,439000.0,219500.0,4.0,1.0,28.0,1.0,1.0,"1,2,6",1,"9,5,14",3
1,2020.0,31160,1,0,NaN,4.0,0.0,70002.0,23334.0,4.0,1.0,57.0,2.0,1.0,"1,6",1,"2,4,11",3
2,2020.0,31110,1,0,NaN,3.0,0.0,74500.0,26500.0,4.0,2.0,19.0,2.0,1.0,5,"5,2","12,5,9",3
3,2020.0,"23080,31270",2,"0,0",NaN,2.0,0.0,100000.0,50000.0,4.0,2.0,36.0,2.0,1.0,"1,2,6",1,"9,5,1",3
4,2020.0,"32400,32390",2,1,11,4.0,0.0,400000.0,100000.0,4.0,1.0,26.0,2.0,1.0,"1,2,6",1,"12,6,5",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11939,2020.0,"39010,39010",2,"0,0",NaN,3.0,0.0,40000.0,40000.0,3.0,2.0,46.0,3.0,17.0,"1,2",1,11,3
11940,2020.0,39010,1,0,NaN,1.0,NaN,10000.0,10000.0,3.0,1.0,41.0,9.0,17.0,1,1,15,NaN
11941,2020.0,"39010,39010",2,1,3,12.0,6.0,260008.0,23334.0,4.0,2.0,31.0,9.0,17.0,6,"1,2",1,3
11942,2020.0,"39010,39010",2,"0,0",NaN,7.0,3.0,190007.0,28751.0,4.0,2.0,37.0,10.0,17.0,"1,12",1,"2,10",1
11943,2020.0,39010,1,1,3,2.0,0.0,80000.0,80000.0,4.0,2.0,56.0,11.0,17.0,"1,2,6",1,"2,1,5",1

In [262]:
df.to_csv('2020_전처리카테고리.csv')

In [261]:
df['target_beforesplit'].value_counts()

1,2,6         2354
1,6           1893
1,2           1407
1              768
2,6            305
              ...
1,15,17          1
4,6,14,16        1
1,10             1
1,3,6,8,15       1
5,6,15           1
Name: target_beforesplit, Length: 587, dtype: int64

In [263]:
for index in df.index:
  target_list_index = df.loc[index,'target_beforesplit'].split(',')
  for targets in target_list_index:
    for i in [1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17]:
      t_col = 'target_'+str(i)
      if targets == str(i):
        df.loc[index,t_col]= 1

In [264]:
df.loc[0,'target_beforesplit'].split(',')

['1', '2', '6']

In [265]:
df.index

RangeIndex(start=0, stop=11944, step=1)

In [266]:
df[['target_beforesplit', 'target_1', 'target_2', 'target_3',
       'target_4', 'target_5', 'target_6', 'target_7', 'target_8', 'target_9',
       'target_10', 'target_11', 'target_12', 'target_14', 'target_15',
       'target_16', 'target_17']]

,target_beforesplit,target_1,target_2,target_3,target_4,target_5,target_6,target_7,target_8,target_9,target_10,target_11,target_12,target_14,target_15,target_16,target_17
0,"1,2,6",1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,6",1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1,2,6",1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"1,2,6",1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11939,"1,2",1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11940,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11941,6,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11942,"1,12",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
11943,"1,2,6",1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns

In [267]:
target_list_index = df.loc[0,'target_area'].split(',')
target_list_index

['23310', '23310']

In [268]:
for index in df.index:
  target_list_index = df.loc[index,'target_area'].split(',')
  for i, targets in enumerate(target_list_index):
      t_col = 'target_area'+str(i+1)
      df.loc[index,t_col]= targets

In [269]:
for index in df.index:
  target_list_index = df.loc[index,'transportation'].split(',')
  for i, targets in enumerate(target_list_index):
       t_col = 'transportation'+str(i+1)
       df.loc[index,t_col]= targets

In [270]:
for index in df.index:
  target_list_index = df.loc[index,'reason'].split(',')
  for i, targets in enumerate(target_list_index):
       t_col = 'reason'+str(i+1)
       df.loc[index,t_col]= targets

In [ ]:
# for index in df.index:
#   try:
#     target_list_index = df.loc[index,'accommodation'].split(',')
#     for i, targets in enumerate(target_list_index):
#       t_col = 'accommodation'+str(i+1)
#       df.loc[index,t_col]= targets
#   except:
#     pass

In [241]:
# for index in df.index:
#   target_list_index = df.loc[index,'reason'].split(',')
#   for i in range (1,16):
#     for targets in target_list_index:
#       t_col = 'reason_'+str(i)
#       if targets == str(i):
#         df.loc[index,t_col]= 1

In [242]:
df.columns

Index(['year', 'target_area', 'no_of_place', 'sleepnights', 'accommodation',
       'number_of_ppl', 'number_of_children', 'cost_total_trip',
       'cost_total_per_person', 'satisfied', 'sex', 'age', 'month',
       'living_area', 'target_beforesplit', 'transportation', 'reason',
       'relationship', 'target_1', 'target_2', 'target_6', 'target_5',
       'target_4', 'target_11', 'target_8', 'target_9', 'target_7', 'target_3',
       'target_16', 'target_15', 'target_12', 'target_17', 'target_14',
       'target_10', 'target_area1', 'target_area2', 'target_area3',
       'target_area4', 'target_area5', 'target_area6', 'target_area7',
       'target_area8', 'target_area9', 'target_area10', 'target_area11',
       'transportation1', 'transportation2', 'transportation3', 'reason1',
       'reason2', 'reason3', 'accommodation_1', 'accommodation_2'],
      dtype='object')

In [244]:
count =0
for i in df['sleepnights']:
  if ',' in i:
    count+=1

In [276]:
df[['sleepnights', 'accommodation']].head(50)

   sleepnights accommodation
0            1             3
1            0             0
2            0             0
3          0,0           NaN
4            1            11
5            2           4,4
6            2           3,3
7            0             0
8            0             0
9            1             3
10           0             0
11           2         10,10
12           1             3
13           0             0
14           1             3
15           0             0
16           1             3
17           1             4
18           0             0
19           0             0
20           2           4,4
21           0             0
22           2           1,1
23           1             4
24           1            10
25           2             3
26           1             4
27           0             0
28           0             0
29         0,0           NaN
30           0             0
31           0             0
32           0             0
33           1            11
34           0             0
35           1             4
36           1            10
37           0             0
38           0             0
39           0             0
40           0             0
41           0             0
42           0             0
43           0             0
44         0,1             1
45           1             1
46           1             1
47           1             3
48           1             3
49           1             4

In [275]:
for index in df.index: ##당일여행 한번 갔을때: accommodation=0
  nights = list(map(int, df.loc[index, 'sleepnights'].split(','))) ## sleepnights를 int로 split
  if nights == [0]:
    df.loc[index, 'accommodation'] = 0

In [274]:
nights = list(map(int, df.loc[3, 'sleepnights'].split(','))) ## sleepnights를 int로 split
nights

[0, 0]

In [283]:
for index in df.index: ##여행 여러번, 1번의 숙박여행
  splited_nights = list(map(int, df.loc[index, 'sleepnights'].split(','))) ## sleepnights를 int로 split
  splited_accommo = list(map(int, df.loc[index, 'accommodation'].split(',')))
  if len(splited_nights)==len(splited_accommo):
        break
  acco_list=[]
  for night in splited_nights:
    if night == 0: ##splited_nights가 0일때, 0뿐일때
      acco_list.append(night)
    else: ##splited_nights가 0이 아닐때 [1,0,2] 일때 [1,2] or [1,0,2] or [1,2,2] or [1,0,2,2] // [0,1,2]
      # print("index>>", index, end=' ')
      # print("0이 아닐때 splited_nights>>", splited_nights, end=' ')
      
      # print("splited_accommo>>", splited_accommo)

In [257]:
for index in df.index:
  if df.loc[index, 'sleepnights'] == '0':
    df.loc[index, 'accommodation'] = 0
  else:
    nights = list(map(int, df.loc[index, 'sleepnights'].split(',')))
    try:
      acco = list(map(int, df.loc[index, 'accommodation'].split(',')))
    except:
      for i in range(1,len(nights)+1):
        col_name = 'accommodation_'+str(i)
        df[col_name]=0
        pass
    if len(nights)==len(acco):
      pass
    elif sum(nights)==len(acco): ## ex [0,1] [1] -> [0,1]
      for no, n in enumerate(nights):
        if n == '0':
          acco.insert(no,0)
          try:
            for acco_i, acc in acco: #[0,0,0,1]
              col_name = 'accommodation_' + str(acco_i)
              df.loc[index,col_name] = acc
          except:print(index)
    else: # 3,3 일때 3,12 -> 3,3,3,12,12,12
      sample_list = []
      for no, night in enumerate(nights):
        if night == '0':
          acco.insert(no,0)
        for i in range(night):
          try:
            sample_list.append(acco[no])
          except:
            print(index)

      try:
        for sample_i, sample in sample_list: #[3,3,3, 12, 12, 12]
            col_name = 'accommodation_' + str(sample_i)
            df.loc[index,col_name] = sample
      except:print(index)

145
298
414
414
414
579
661
676
676
676
676
676
812
835
1135
1135
1174
1174
1271
1271
1282
1334
1369
1372
1383
1435
1446
1449
1477
1477
1478
1479
1479
1481
1486
1487
1492
1519
1519
1521
1521
1521
1521
1522
1522
1522
1539
1539
1541
1547
1547
1549
1549
1551
1551
1556
1556
2049
2049
2770
2938
3073
3651
3831
3838
3852
3852
4101
4595
4656
4656
4657
4657
4661
4661
4710
4911
4938
5103
5652
5652
5653
5653
5668
5856
5917
5917
6014
6094
6570
6570
6570
6571
6571
6719
6719
6799
6799
6950
6958
6968
7034
7139
7139
7150
7150
7542
7542
7555
7555
7587
7587
7688
7888
7909
8114
8114
8160
8405
8405
8456
8456
8456
8457
8457
8458
8458
8479
8479
8481
8481
8730
8737
8788
8788
8789
8789
9155
9155
9175
9175
9188
9188
9304
9304
9991
9991
10603
11077
11285
11285
11299
11324
11324
11369
11369
11484
11484
11484
11485
11485
11487
11487
11503
11503
11774
11896
11907

In [ ]:
df['sleepnights'].value_counts()

In [246]:
ex = [3,12,12,1]
type(ex)

list

In [247]:
type(np.nan)

float

In [248]:
# for index in df.index:
#   target_list_index = df.loc[index,'transportation'].split(',')
#   for i in range (1,12):
#     for targets in target_list_index:
#       t_col = 'transportation_'+str(i)
#       if targets == str(i):
#         df.loc[index,t_col]= 1

In [249]:
# for index in df.index:
#   try:
#     target_list_index = df.loc[index,'accommodation'].split(',')
#   except: 
#     target_list_index = []
#   for i in range (1,15):
#     for targets in target_list_index:
#       t_col = 'accommodation'+str(i)
#       if targets == str(i):
#         df.loc[index,t_col]= 1

In [250]:
df.columns

Index(['year', 'target_area', 'no_of_place', 'sleepnights', 'accommodation',
       'number_of_ppl', 'number_of_children', 'cost_total_trip',
       'cost_total_per_person', 'satisfied', 'sex', 'age', 'month',
       'living_area', 'target_beforesplit', 'transportation', 'reason',
       'relationship', 'target_1', 'target_2', 'target_6', 'target_5',
       'target_4', 'target_11', 'target_8', 'target_9', 'target_7', 'target_3',
       'target_16', 'target_15', 'target_12', 'target_17', 'target_14',
       'target_10', 'target_area1', 'target_area2', 'target_area3',
       'target_area4', 'target_area5', 'target_area6', 'target_area7',
       'target_area8', 'target_area9', 'target_area10', 'target_area11',
       'transportation1', 'transportation2', 'transportation3', 'reason1',
       'reason2', 'reason3', 'accommodation_1', 'accommodation_2'],
      dtype='object')

In [251]:
df[['sleepnights','accommodation1', 'accommodation2',
       'accommodation3', 'accommodation4', 'accommodation5']].head(50)

KeyError: ignored

In [ ]:
df['accommodation']

In [252]:
df.columns

Index(['year', 'target_area', 'no_of_place', 'sleepnights', 'accommodation',
       'number_of_ppl', 'number_of_children', 'cost_total_trip',
       'cost_total_per_person', 'satisfied', 'sex', 'age', 'month',
       'living_area', 'target_beforesplit', 'transportation', 'reason',
       'relationship', 'target_1', 'target_2', 'target_6', 'target_5',
       'target_4', 'target_11', 'target_8', 'target_9', 'target_7', 'target_3',
       'target_16', 'target_15', 'target_12', 'target_17', 'target_14',
       'target_10', 'target_area1', 'target_area2', 'target_area3',
       'target_area4', 'target_area5', 'target_area6', 'target_area7',
       'target_area8', 'target_area9', 'target_area10', 'target_area11',
       'transportation1', 'transportation2', 'transportation3', 'reason1',
       'reason2', 'reason3', 'accommodation_1', 'accommodation_2'],
      dtype='object')

In [253]:
df.shape

(11944, 53)